<footer class="footer border-top footer text-muted text-center">
    <div class="container">
        <span> Copyright  &copy; Book Store @DateTime.Now.Year</span>
        @*<custom-email my-email="singh.shivam97@yahoo.com"></custom-email>*@
    </div>
</footer>
