  @model BookModel
@{ 
    ViewData["Title"] = "Add new book";
}

<div class="container">
    <h3 class="display-4">Add new book</h3>
    <hr />
    @if (ViewBag.IsSuccess == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Congratulations</strong> Book Added Successfully.<br />
            Click<a asp-controller="Book" asp-action="GetBook" asp-route-id="@ViewBag.bookId"> here</a> to view the details
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

<form method="post"   asp-action="AddNewBook" asp-controller="Book">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="LanguageId" class="form-label"></label>
        <select asp-for="LanguageId" class="form-control"  asp-items="ViewBag.Language">
            <option value="">Please choose book language</option>
            @*<option value="Hindi">Hindi (One of the best language)</option>
            <option value="English">English (Global Language)</option>
            <option value="French">French (Foreign language)</option>*@

        </select>
        <span asp-validation-for="LanguageId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Author" class="form-label"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <label asp-for="TotalPages" class="form-label"></label>
        <input asp-for="TotalPages" class="form-control" />
        <span asp-validation-for="TotalPages" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <input type="submit" value="Add book" class="btn btn-primary" />

    </div>
</form>
</div>

@*@section scripts { 
<script>
    function myComplete(data) {
        alert("I'm from complete");
        console.log(data);
    }
    function mySuccess() {
        alert("I'm from success");
        console.log(data);

    }
    function myFailure() {
        alert("I'm from Failure");
        console.log(data);
    }
</script>*@
}