
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <link href="~/css/Site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
</head>
<body class="container">
    <img src="~/images/logo.png" alt="logo" class="logo" />
    <h1>Welcome to book store application</h1>
    <p>This is home page of our book store application</p>
    <input type="button" value="click me" class="btn btn-danger" />
</body>
</html>

<script>
    $(document).ready(function () {
        alert("Page Loaded");
    });

</script>
